// SortableTable.module.scss

.table {
  border-collapse: collapse;
  width: 100%;

  .th, .td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }

  .th {
    background-color: #f2f2f2;

    .sortableLabel {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
    
  }
  .filterInput {
    margin-left: 10px; /* Adjust the value to control the gap size */
    /* You can also use margin-right if you prefer spacing on the right side. */
  }
}
